.carrito{
    width: 80%;
    font-size: 1.6rem;
}
.carrito__producto{
    display: flex;
    justify-content: space-between;
    border: .1rem solid var(--secondary);
    padding: .7rem;
    margin-bottom: 2rem;
}
.carrito__producto__info{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.carrito__producto__content{
    width: 5%;
}
.carrito__producto__content__img{
    width: 100%;
}
.carrito__producto__cantidad{
    display: flex;
    align-items: center;
    width: 10rem;
    justify-content: space-around;
}
.carrito__producto div{
    display: flex;
}
.carrito__producto div p{
    margin-right: .7rem;
}
.detalle__producto{
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    margin-bottom: 2rem;
}
.detalle__producto--cabecera{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.detalle__producto h2{
    font-size: 1rem;
    color: var(--primary);
}
.detalle__producto a, .detalle__producto__dos a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
.detalle__producto__dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary);
    padding: 2rem;
}