:root {
    --slider-offset: 0%;
    --slider-time: 2s;
  }
#hero{
    grid-column: 1/-1;
    display: grid;
    grid-row: hero-start/hero-end;
}
.slider {
	margin: auto;
	overflow: hidden;
}

.slider .slider__inner {
	display: flex;
	padding: 0;
	animation: cambio 20s infinite alternate linear;
}

.slider .slider__item {
	width: 100%;
	list-style: none;
}
.slider {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    background-color: yellow;
}
  
.slider__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translateX(var(--slider-offset));
    transition-property: transform;
    transition-duration: var(--slider-time);
    transition-timing-function: ease;
    min-height: 100%;
    max-width: 100%;
}

.slider__item {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
}

.slider__1{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.slider__2{
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.slider__3{
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.slider__4{
    background-image: url(../img/background5.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.hero__info{
    background-color: rgba(255, 255, 255, 0.8);
    width: max-content;
    margin-left: 10rem;
    padding: 3rem;
}
.hero__info__p{
    padding-top: 1rem;
    max-width: 50rem;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* MEDIA QUERY PARA VISTAS MENORES QUE 992px */
@media screen and (max-width: 992px) {
    #hero {
        grid-row: auto; /* Modifica según tus necesidades específicas */
        margin-left: 0; /* Puedes ajustar el margen según tus necesidades */
    }
    .hero__info {
        margin-left: 0 !important;
    }
}