#contact{
    grid-row: banner-end/contact-end;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}
#rrss{
    display: flex;
    max-width: 100%;
}
.rrss__galery{
    display: flex;
    padding: 3rem;
    max-width: 70%;
}
.rrss__galery__photo{
   width: 100%;
   padding: 1rem;
   border: .1rem solid var(--primary);
   margin: .5rem;
}
.rrss__galery__photo__img{
    width: 100%;
    height: 100%;
}
.rrss__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rrss__content--title::first-letter{
    font-family: 'Cinzel Decorative', serif;
}
.rrss__content--title{
    font-weight: 200;
    color: var(--secondary);
    text-transform: uppercase;
    text-align: center;
}
.rrss__content__social{
    display: flex;
    justify-content: space-around;
}
.rrss__content__social a{
    color: var(--secondary);
    font-size: 10rem;
}
#personal{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#personal label h2::first-letter{
    font-family: 'Cinzel Decorative', serif;
}
#personal label h2{
    text-align: center;
    font-weight: 200;
}
#personal form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 4rem;
    height: 30%;
    gap: 2rem;
}
#personal .button__purple{
    color: white;
    background-color: var(--secondary);
    /*Cursor*/
    cursor: pointer;
    /*Elimino bordes*/
    border: 0;
    /*Bordes redondos de 4px*/
    border-radius: .4rem;
    /*Margen laterales*/
    margin: 0 .1rem;
    /*tamaño de la fuente*/
    font-size: 1.5rem;
    /*pading vertical y horizontal*/
    padding: 1rem 2vw;
    /*transicion*/
    transition: 0.4s;
    text-transform: uppercase;
}
#personal .button__purple:hover{
    color: white;
    box-shadow: 0 0 2rem 1rem var(--secondaryCeroSeis);
    background-color: var(--secondary);
}

/* MEDIA QUERY PARA VISTAS MENORES QUE 992px */
@media screen and (max-width: 992px) {
    #rrss{
        flex-direction: column;
        max-width: 100%;
    }
    .rrss__galery{
        display: none;
    }
}